* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'serif';
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  height: 100vh;
}

.landing {
  background: linear-gradient(to right top, rgb(255, 250, 160), rgb(252, 245, 95));
}

.app_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  text-align: center;
  padding: 0.5rem;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  min-width: 100%;
  text-align: center;
  font-weight: 600;
  padding: 1rem;
  position: static;
}

footer span {
  padding-left: 1rem;
}

@media only screen and (max-width: 992px) {
  .row {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .column {
    min-height: 100vh;
  }
  .app_form {
    padding: 1rem;
    background: linear-gradient(to right top, rgb(255, 250, 160), rgb(252, 245, 95));
  }
}